*
{
    margin: 0%;
    padding: 0;
    background-color: #2f2f2f;
}

element.style {
    width: 1120px;
    position: fixed;
    top: 0px;
    z-index: inherit;
}

.sticky-wrapper.is-sticky .untree_co--site-nav {
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
}