*
{
    margin: 0;
    padding: 0;
    /* border: solid 2px black; */
}

:root
{
    --color-profile: #2f2f2f;
    --size-h2: 22px;
    --size-p: 15px;
}

body
{
    /* background-color: #2f2f2f; */
}

/* what is */

#whatIs
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

#whatIs article
{
    padding: 20px;
    width: 50%;
}

.textWhat h2
{
    font-size: var(--size-h2);
}
.textWhat p
{
    font-size: var(--size-p);
}

/* valors */

#valors
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#valors article
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textValors
{
    width: 60%;
}


/* work team */

#workTeam
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 230px;
    background-color: var(--color-profile);
    margin: 10px;
    
}

.profile img
{
    width: 100%;
    background-color: rgb(26, 149, 187);
}

.description
{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

.description h2, .description p, .description i
{
    text-align: justify;
    padding: 8px;
}

.socialNetworks i
{
    font-size: 18px;
    color: black;
}
