*
{
    margin: 0;
    padding: 0;
}

:root
{
    --color-profile: #2f2f2f;
    --color-icon: #fff;
    --color-a: black;

    /* background */

    --background-a: rgba(255, 255, 255, 0.836);
}
/* work team */

#workTeam
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 230px;
    background-color: var(--color-profile);
    margin: 10px;
    
}

.profile img
{
    width: 100%;
    background-color: rgb(26, 149, 187);
}

.description
{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

.description h2, .description p, .description i
{
    text-align: justify;
    padding: 8px;
}

.socialNetworks i
{
    font-size: 18px;
    color: var(--color-icon);
}


/* balance sheets */

#balance
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#balance span
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#balance h1, #balance span
{
    padding: 10px;
}

#balance span article
{

    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: var(--color-profile);
    border-radius: 20px;
}

#balance span article h2, #balance span article p, #balance span article a
{
    margin: 20px;
    text-align: justify;
}

#balance span article a
{
    
    display: flex;   
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    text-decoration: none;
    background-color: var(--background-a);
    color: var(--color-a);
    border-radius: 20px;
}



