*
{
    margin: 0;
    padding: 0;

}

:root
{

    /* header */
    --color-aHeader: white;
    --color-JX: white;

    --size-aHeader: 20px;
    --size-JX: 40px;

    --background-header: white;


    /* main */
    --size-h1Main: 65px;
    --size-pMain: 30px;

/* background */

--background-JX: rgb(207, 150, 60);
--background-a: rgba(255, 255, 255, 0.836);
--background-footer: rgb(23,25,24);

/* footer */

--color-icon: white;
--color-copy: gray;
--color-aFooter: white;



/* font size */

--size-h1: 60px;
--size-h2: 30px;
--size-h3: 22px;
--size-p: 22px;
--size-a: 20px;

}


#workingProcess
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#workingProcess article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 5px;
    margin: 10px;

}

#workingProcess article div
{
    border: solid black 2px;
    border-radius: 50%;
    
}

#workingProcess article div i
{
    padding: 15px;
}

#workingProcess article h3
{
    padding: 5px;
}


