*
{
    margin: 0;
    padding: 0;

}

:root
{

/* header */
--color-aHeader: white;
--color-JX: white;

--size-aHeader: 20px;
--size-JX: 40px;

--background-header: white;


/* main */
--size-h1Main: 65px;
--size-pMain: 30px;

/* our working process */

--border-WorkingProcess: rgb(253, 163, 17);
--color-iWorkingProcess: rgb(23,25,24);

/* footer */

--color-icon: white;
--color-copy: gray;
--color-aFooter: white;
--background-footer: rgb(23,25,24);

/* background */

--background-JX: rgb(207, 150, 60);
--background-a: rgba(255, 255, 255, 0.836);


/* font size */

--size-h1: 60px;
--size-h2: 30px;
--size-h3: 22px;
--size-p: 22px;
--size-a: 20px;

}


/* .workingProcess */
#process
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.workingProcess
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    flex-wrap: wrap;
}

.workingProcess article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 10px;

}

.workingProcess article div
{
    border: solid var(--border-WorkingProcess) 5px;
    border-radius: 50%;
    
}

.workingProcess article div i
{
    padding: 20px;
    color: var(--color-iWorkingProcess);
}

.workingProcess article h3
{
    padding: 5px;
    font-size: var(--size-h3);
}


